@tailwind base;
@tailwind components;
@tailwind utilities;

.quicksand-primary {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Change to desired weight */
    font-style: normal;
  }  
