@tailwind base;
@tailwind components;
@tailwind utilities;

.quicksand-primary {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Change to desired weight */
    font-style: normal;
  }  

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* const styles = `
  @layer utilities {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
`;   */
  
